# configs
COMPOSE_PROFILES=

# app
SERVER_PORT=3333
SERVER_HOST=app

# Database
DB_NAME=bisno
DB_DIALECT=postgres
DB_PORT=5432
DB_HOST=localhost
DB_USER=bisno
DB_PASSWORD=

# RabbitMQ
RABBITMQ_URI=amqp://username:password@hostname:port
RABBIT_USER=bisno
RABBIT_HOST=localhost
RABBIT_PASSWORD=
RABBIT_PORT=5672

# Redis
REDIS_PORT=6379
REDIS_PASSWORD=

# Clerk
CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=
