# ======================
#       Config
# ======================
NODE_ENV=development
COMPOSE_PROFILES=app

# ======================
#       Server
# ======================
SERVER_HOST=app
SERVER_PORT=3333
SERVER_URL=http://app:3333
JWT_SECRET=

TIMEZONE=Africa/Luanda