# configs
COMPOSE_PROFILES=

# app
SERVER_PORT=3333
SERVER_HOST=app

# Database
DB_NAME=bisno
DB_DIALECT=postgres
DB_PORT=5432
DB_HOST=localhost
DB_USER=bisno
DB_PASSWORD=

# RabbitMQ
RABBITMQ_URI=amqp://username:password@hostname:port
RABBIT_USER=bisno
RABBIT_HOST=localhost
RABBIT_PASSWORD=
RABBIT_PORT=5672

# Redis
REDIS_PORT=6379
REDIS_PASSWORD=

# Clerk
CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=


# Keys

# configs
NODE_ENV=development
COMPOSE_PROFILES=app

# app
SERVER_PORT=3333
SERVER_HOST=app

# Database
DB_NAME=bisno
DB_DIALECT=postgres
DB_PORT=5432
DB_HOST=db
DB_USER=bisno
DB_PASSWORD=64175715490b

# RabbitMQ
RABBITMQ_HOST=rabbitmq
RABBITMQ_URI=amqp://bisno:f7e1b8c3d9a2@rabbitmq:5672
RABBIT_USER=bisno
RABBIT_PASSWORD=f7e1b8c3d9a2
RABBIT_PORT=5672

# Redis
REDIS_PORT=6379
REDIS_PASSWORD=8e56a11b

# Clerk
CLERK_PUBLISHABLE_KEY=pk_test_aW50ZW50LXdvbWJhdC0yMy5jbGVyay5hY2NvdW50cy5kZXYk
CLERK_SECRET_KEY=sk_test_IX738EFLJroWuTzPWCUriWXdyPzBtkfnFblO76Zwzc